/******************************Inventario**************/
.t0, .t1, .t2, .t3{
  background-color: rgb(255, 166, 0) !important;
}
/*****************************Tablas**************/
#table table {
  overflow-x:auto;
    margin-top:20px;
    margin-bottom:20px;
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
    border: 1px solid black;
    text-align: center;
  }
  
  tr:nth-child(even){background-color: #f2f2f2}
  
  th {
    background-color: #BE81F7;
    color: white;
    
  }
